*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav{
    background-color: #ACA6A680;
    display: flex;
    justify-content: space-between;
    padding: 20px 343px;
    
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo img{
    width: 200px;
}

.nav-logo span{
    font-size: 20px;
    font-weight: 500;
    color: aqua;
}

.nav-manus ul{
    display: flex;
   gap: 30px;
    align-items: center;
    margin-top: 10px;
}
.nav-manus ul li{
    list-style: none;
    font-size: 20px;
    color: black;
}

/* Banner section starting from now. */
.banner{
    padding: 300px;
    text-align: center;
    background: url("../asset/image/background.jpg") ,rgb(78, 78, 78);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner h1{

    color: white;
    font-size: 74px;
    font-weight: 900;
    margin: auto;
    margin-bottom: 15px;
    width: 750px;
    

}

.banner h1 span{
    color: red;
}

.banner p{
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin: auto;
    margin-bottom: 26px;
    width: 930px;
}

.banner-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.banner-btn button{
    padding: 15px 38px;
}

.banner-btn button:nth-child(1){
    background-color: red;
    color: white;
    font-weight: 400;
    font-size: 16px;
    border: none;

}
.banner-btn button:nth-child(2){
    background-color:white;
    color: black;
    font-weight: 400;
    font-size: 16px;
    border: none;
}